In [1]:
import time
import pandas as pd
import numpy as np
import math
from math import cos, asin, sqrt
import gc
pd.set_option('display.max_columns', None)

#ejecutar esto solo la primera vez#####################################################
start = time.time()
vuelos = pd.read_csv('vuelosDeparted.csv', sep=',',low_memory=False, )
vuelos["TMIN_o"]= ''
vuelos["TMAX_o"]= ''
vuelos["TAVG_o"]= ''
vuelos["SNOW_o"]= ''
vuelos["PRCP_o"]= ''
vuelos["TMIN_d"]= ''
vuelos["TMAX_d"]= ''
vuelos["TAVG_d"]= ''
vuelos["SNOW_d"]= ''
vuelos["PRCP_d"]= ''
vuelos.to_csv('vuelos.csv', sep=',', index=False)
vuelos = pd.read_csv('vuelos.csv', sep=',',low_memory=False, )
vuelos.rename(columns={'Unnamed: 0': 'index'}, inplace=True)
end = time.time()
print(end - start)

In [3]:
vuelos = pd.read_csv('vuelos.csv', sep=',',low_memory=False, )
vuelos.rename(columns={'Unnamed: 0': 'index'}, inplace=True)
# Load of geobase
start = time.time()
from GeoBases import GeoBase
geo_c = GeoBase(data='ori_por', verbose=False)
stationstxt = ""
with open("stations.txt") as input:
    stationstxt = input.read()
    
#Extract the data from file
stations2 = stationstxt.split("\n")
#Remove last line
stations2 = stations2[:-1]
stations2 = map(lambda line: [line[0:11],float(line[13:20]),float(line[22:30]),line[41:71]], stations2)

#weather2012 = pd.read_csv("2012.csv",header=None)
#weather2012.columns = ["id","date","type","Value1","Value2","Value3","Value4","Value5"]

#weather2011 = pd.read_csv("2011.csv",header=None)
#weather2011.columns = ["id","date","type","Value1","Value2","Value3","Value4","Value5"]
#weather2014 = pd.read_csv("2014.csv",header=None)
#weather2014.columns = ["id","date","type","Value1","Value2","Value3","Value4","Value5"]
weather2015 = pd.read_csv("2015.csv",header=None)
weather2015.columns = ["id","date","type","Value1","Value2","Value3","Value4","Value5"]
#weather2016 = pd.read_csv("2016.csv",header=None)
#weather2016.columns = ["id","date","type","Value1","Value2","Value3","Value4","Value5"]
#weather2017 = pd.read_csv("2017.csv",header=None)
#weather2017.columns = ["id","date","type","Value1","Value2","Value3","Value4","Value5"]
end = time.time()
print(end - start)

40.1979999542

In [4]:
#del weather2011
del weather2014
#del weather2012
gc.collect()

NameError: name 'weather2014' is not defined

In [5]:
stationsdf = pd.DataFrame(stations2)
stationsdf.columns = ["id","lat","lng","name"]
lats = stationsdf[['lat','lng']]

In [6]:
#funciones para calcular la distancia entre los aeropuertos y estacion metereologica mas cercana
def distance(lat1, lon1, lat2, lon2):
    p = 0.017453292519943295
    a = 0.5 - cos((lat2-lat1)*p)/2 + cos(lat1*p)*cos(lat2*p) * (1-cos((lon2-lon1)*p)) / 2
    return 12742 * asin(sqrt(a))

def closest(data, v):
    return min(data, key=lambda p: distance(v[0],v[1],p[0],p[1]))

#para que la fecha no de problemas al comparar (quizas no este bien del todo)
def tratarFecha(fecha):
    fecha = str(fecha).split(' ')[0]
    fecha = fecha.replace('-','')
    fecha = int(fecha)
    return fecha

In [7]:
#para seleccionar con que a√±o trabajar
weatherdf = weather2015

In [8]:
del weatherdf['Value3']
del weatherdf['Value4']
del weatherdf['Value5']
del weatherdf['Value2']

In [9]:
def tratar2(row):
    lat = row['board_lat']
    lon = row['board_lon']
    fecha = row['actual_time_of_departure']
    lat_d = row['off_lat']
    lon_d = row['off_lon']
    fecha_d = row['actual_time_of_arrival'] 
    ##################################
    #primero tratamos las fechas
    fecha = tratarFecha(fecha)
    fecha_d = tratarFecha(fecha_d)
    ##################################
    coor = [lat,lon]
    coor_off = [lat_d,lon_d]
    a= closest(np.asarray(lats), coor)
    b= closest(np.asarray(lats), coor_off)
    ##################################
    aux = stationsdf[stationsdf['lat']==a[0]]
    aux = stationsdf[stationsdf['lng']==a[1]]
    stationid = aux['id']
    s =stationid.to_string()
    stationid = str(s)
    stationid = stationid.split()[1]
    ##################################
    aux1 = stationsdf[stationsdf['lat']==b[0]]
    aux1 = stationsdf[stationsdf['lng']==b[1]]
    stationidoff = aux1['id']
    s =stationidoff.to_string()
    stationidoff = str(s)
    stationidoff = stationidoff.split()[1]
    #####################################
    data_board = weatherdf[(weatherdf["id"]==stationid)&(weatherdf['date']==fecha)].sort_values("date")
    data_off   = weatherdf[(weatherdf["id"]==stationidoff)&(weatherdf['date']==fecha_d)].sort_values("date")
    #######################################
    data_board["Value1"]=data_board["Value1"]/10
    data_board = data_board.reset_index()
    T1 = data_board[data_board['type']=='TAVG']['Value1']
    T2 = data_board[data_board['type']=='PRCP']['Value1']
    T3 = data_board[data_board['type']=='SNOW']['Value1']
    T4 = data_board[data_board['type']=='TMIN']['Value1']
    T5 = data_board[data_board['type']=='TMAX']['Value1']
    ##############################
    data_off["Value1"]=data_off["Value1"]/10
    data_off = data_off.reset_index()
    T6 = data_off[data_off['type']=='TAVG']['Value1']
    T7 = data_off[data_off['type']=='PRCP']['Value1']
    T8 = data_off[data_off['type']=='SNOW']['Value1']
    T9 = data_off[data_off['type']=='TMIN']['Value1']
    T10 = data_off[data_off['type']=='TMAX']['Value1']
    ##tratamos los valores nulos aplicando un valor nulo
    if T1.empty:
        T1 = 9999
    if T2.empty:
        T2 = 9999        
    if T3.empty:
        T3 = 9999        
    if T4.empty:
        T4 = 9999       
    if T5.empty:
        T5 = 9999
    if T6.empty:
        T6 = 9999      
    if T7.empty:
        T7 = 9999         
    if T8.empty:
        T8 = 9999        
    if T9.empty:
        T9 = 9999        
    if T10.empty:
        T10 = 9999        
        
    #actualizamos la fila
    row['TAVG_o']= float(T1)
    row['PRCP_o']= float(T2)
    row['SNOW_o']= float(T3)
    row['TMIN_o']= float(T4)
    row['TMAX_o']= float(T5)
    row['TAVG_d']= float(T6)
    row['PRCP_d']= float(T7)
    row['SNOW_d']= float(T8)
    row['TMIN_d']= float(T9)
    row['TMAX_d']= float(T10)
    return row

In [10]:
#para saber que vuelos tenemos de que a√±os
vuelos2017 = vuelos[vuelos['anyoSalida']==2017]
vuelos2016 = vuelos[vuelos['anyoSalida']==2016]
vuelos2015 = vuelos[vuelos['anyoSalida']==2015]
vuelos2014 = vuelos[vuelos['anyoSalida']==2014]
vuelos2013 = vuelos[vuelos['anyoSalida']==2013]
vuelos2012 = vuelos[vuelos['anyoSalida']==2012]
vuelos2011 = vuelos[vuelos['anyoSalida']==2011]
vuelos2010 = vuelos[vuelos['anyoSalida']==2010]
vuelos2009 = vuelos[vuelos['anyoSalida']==2009]

#ver las dimensiones de cada a√±o
print vuelos2017.shape
print vuelos2016.shape
print vuelos2015.shape
print vuelos2014.shape
print vuelos2013.shape
print vuelos2012.shape
print vuelos2011.shape
print vuelos2010.shape
print vuelos2009.shape

(24256, 66)
(146306, 66)
(41576, 66)
(556, 66)
(0, 66)
(3, 66)
(1, 66)
(0, 66)
(0, 66)

#vuelos = pd.read_csv('vuelos.csv', sep=',',low_memory=False, )
#vuelos.rename(columns={'Unnamed: 0': 'index'}, inplace=True)
vuelosSinTratar = vuelos[vuelos['TAVG_o'].isnull()]
vuelosTratados = vuelos[vuelos['TAVG_o'].notnull()]
print vuelosSinTratar.shape
print vuelosTratados.shape
x = vuelosSinTratar[vuelosSinTratar['anyoSalida']==2015]
print x.shape
x = x[x['mesSalida']==1]
print x.shape
x = x[x['diaSalida']==7]
print x.shape

In [22]:
def functionWeatherDay(month, day):
    u = int(month+day)
    weatherdf = weather2015
    weatherdf = weatherdf[weatherdf['date']-20150000==u]
    return weatherdf

In [37]:
def functionPlus(year, month, day):    
    start = time.time()
    #vuelos = pd.read_csv('vuelos.csv', sep=',',low_memory=False, )
    #vuelos.rename(columns={'Unnamed: 0': 'index'}, inplace=True)
    vuelosSinTratar = vuelos[vuelos['TAVG_o'].isnull()]
    #nos quedamos con los vuelos de 2012
    x = vuelosSinTratar[vuelosSinTratar['anyoSalida']==year]
    x = x[x['mesSalida']==month]
    x = x[x['diaSalida']==day]
    ##cogemos un rango para trabajar con el
    x = x.head(200)################################################################N¬∫ A PROCESAR
    x = x.apply(lambda x:tratar2(x),axis = 1)
    #para escribir ya
    #variable auxiliar

    pd.options.mode.chained_assignment = None  # default='warn'
    vuelosSinTratar['TAVG_o'] = x.set_index(['index'])['TAVG_o'].combine_first(vuelosSinTratar.set_index(['index'])['TAVG_o']).values
    vuelosSinTratar['PRCP_o'] = x.set_index(['index'])['PRCP_o'].combine_first(vuelosSinTratar.set_index(['index'])['PRCP_o']).values
    vuelosSinTratar['SNOW_o'] = x.set_index(['index'])['SNOW_o'].combine_first(vuelosSinTratar.set_index(['index'])['SNOW_o']).values
    vuelosSinTratar['TMIN_o'] = x.set_index(['index'])['TMIN_o'].combine_first(vuelosSinTratar.set_index(['index'])['TMIN_o']).values
    vuelosSinTratar['TMAX_o'] = x.set_index(['index'])['TMAX_o'].combine_first(vuelosSinTratar.set_index(['index'])['TMAX_o']).values
    vuelosSinTratar['TAVG_d'] = x.set_index(['index'])['TAVG_d'].combine_first(vuelosSinTratar.set_index(['index'])['TAVG_d']).values
    vuelosSinTratar['PRCP_d'] = x.set_index(['index'])['PRCP_d'].combine_first(vuelosSinTratar.set_index(['index'])['PRCP_d']).values
    vuelosSinTratar['SNOW_d'] = x.set_index(['index'])['SNOW_d'].combine_first(vuelosSinTratar.set_index(['index'])['SNOW_d']).values
    vuelosSinTratar['TMIN_d'] = x.set_index(['index'])['TMIN_d'].combine_first(vuelosSinTratar.set_index(['index'])['TMIN_d']).values
    vuelosSinTratar['TMAX_d'] = x.set_index(['index'])['TMAX_d'].combine_first(vuelosSinTratar.set_index(['index'])['TMAX_d']).values



    vuelos['TAVG_o'] = vuelosSinTratar.set_index(['index'])['TAVG_o'].combine_first(vuelos.set_index(['index'])['TAVG_o']).values
    vuelos['PRCP_o'] = vuelosSinTratar.set_index(['index'])['PRCP_o'].combine_first(vuelos.set_index(['index'])['PRCP_o']).values
    vuelos['SNOW_o'] = vuelosSinTratar.set_index(['index'])['SNOW_o'].combine_first(vuelos.set_index(['index'])['SNOW_o']).values
    vuelos['TMIN_o'] = vuelosSinTratar.set_index(['index'])['TMIN_o'].combine_first(vuelos.set_index(['index'])['TMIN_o']).values
    vuelos['TMAX_o'] = vuelosSinTratar.set_index(['index'])['TMAX_o'].combine_first(vuelos.set_index(['index'])['TMAX_o']).values
    vuelos['TAVG_d'] = vuelosSinTratar.set_index(['index'])['TAVG_d'].combine_first(vuelos.set_index(['index'])['TAVG_d']).values
    vuelos['PRCP_d'] = vuelosSinTratar.set_index(['index'])['PRCP_d'].combine_first(vuelos.set_index(['index'])['PRCP_d']).values
    vuelos['SNOW_d'] = vuelosSinTratar.set_index(['index'])['SNOW_d'].combine_first(vuelos.set_index(['index'])['SNOW_d']).values
    vuelos['TMIN_d'] = vuelosSinTratar.set_index(['index'])['TMIN_d'].combine_first(vuelos.set_index(['index'])['TMIN_d']).values
    vuelos['TMAX_d'] = vuelosSinTratar.set_index(['index'])['TMAX_d'].combine_first(vuelos.set_index(['index'])['TMAX_d']).values
    #vuelos.to_csv('vuelos.csv', sep=',', index=False)
    end = time.time()
    print(end - start)

In [125]:
dia = 1
mes = 3
anyo = 2015

In [131]:
mesw = str(mes)
for dia in range(1,32):
    diaw = str(dia)
    if dia < 10:
        diaw = '0'+diaw
    
    weatherdf = functionWeatherDay(mesw,diaw)
    functionPlus(anyo,mes,dia)

3.08399987221
3.18799996376
3.1899998188
3.13800001144
3.09500002861
3.16999983788
3.11600017548
3.19400000572
3.05000019073
3.06300020218
3.07300019264
3.09600019455
3.07700014114
3.13000011444
3.08700013161
3.09500002861
3.19599986076
3.04700016975
3.08099985123
3.0609998703
3.04699993134
3.08599996567
3.10599994659
3.08599996567
3.20599985123
3.18400001526
3.08500003815
3.08299994469
3.07099986076
3.07099986076
93.364000082

In [132]:
vuelos.to_csv('vuelos.csv', sep=',', index=False)

In [133]:
vuelosSinTratar = vuelos[vuelos['TAVG_o'].isnull()]
vuelosTratados = vuelos[vuelos['TAVG_o'].notnull()]
print 'sin tratar de todos ', vuelosSinTratar.shape
print 'tratados ', vuelosTratados.shape
x = vuelosSinTratar[vuelosSinTratar['anyoSalida']==anyo]
print 'sin tratar totales del a√±o ', x.shape
x = x[x['mesSalida']==mes]
print 'del mes sin tratar ', x.shape
x = x[x['diaSalida']==dia]
print 'vuelos del dia sin tratar ' , x.shape

sin tratar de todos  (202892, 66)
tratados  (9806, 66)
sin tratar totales del a√±o  (31770, 66)
del mes sin tratar  (0, 66)
vuelos del dia sin tratar  (0, 66)

In [134]:
ddd = vuelosTratados[vuelosTratados['mesSalida']==3]
ddd = ddd['diaSalida'].unique()
ddd.sort()
ddd

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31], dtype=int64)

,index,airline_code,flight_number,board_point,board_lat,board_lon,board_country_code,off_point,off_lat,off_lon,off_country_code,distance,scheduled_time_of_departure,actual_time_of_departure,scheduled_time_of_arrival,actual_time_of_arrival,departure_delay,arrival_delay,sched_blocktime,est_blocktime,act_blocktime,aircraft_type,aircraft_registration_number,general_status_code,routing,cabin_1_code,cabin_1_fitted_configuration,cabin_1_saleable,cabin_1_pax_boarded,cabin_1_rpk,cabin_1_ask,cabin_2_code,cabin_2_fitted_configuration,cabin_2_saleable,cabin_2_pax_boarded,cabin_2_rpk,cabin_2_ask,total_rpk,total_ask,load_factor,total_pax,total_no_shows,total_cabin_crew,total_technical_crew,total_baggage_weight,number_of_baggage_pieces,mesSalida,anyoSalida,diaSalida,horaSalida,mesLlegada,anyoLlegada,diaLlegada,horaLlegada,diaSemanaSalida,diaSemanaLlegada,TMIN_o,TMAX_o,TAVG_o,SNOW_o,PRCP_o,TMIN_d,TMAX_d,TAVG_d,SNOW_d,PRCP_d
183646,191239,QN,1290,GNB,45.362944,5.329375,FR,LEU,42.338611,1.409167,ES,460,2015-02-07 17:55:00,2015-02-07 18:26:00,2015-02-07 20:10:00,2015-02-07 20:43:00,31,33,135,135.0,137,AT7,MFQAT,Departed,GNB-LEU,Y,68,68,28,12886,31295,NaN,NaN,NaN,NaN,NaN,NaN,12886,31295,0.411765,28,0,2,2,206,19,2,2015,7,18:26:00,2,2015,7,20:43:00,sÔøΩbado,sÔøΩbado,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,3.7,-0.7,9999.0,0.0
156316,162307,XX,91,LEU,42.338611,1.409167,ES,RAK,31.634160,-7.999940,MA,1452,2015-02-09 07:15:00,2015-02-09 07:31:00,2015-02-09 09:45:00,2015-02-09 10:00:00,16,15,210,NaN,209,319,XHPAT,Departed,LEU-RAK,Y,137,117,44,63900,169917,J,1.0,14.0,1.0,1452.0,20332.0,65353,190249,0.343511,45,0,3,2,458,33,2,2015,9,07:31:00,2,2015,9,10:00:00,lunes,lunes,-4.7,9.5,1.4,9999.0,0.0,2.0,9999.0,11.7,9999.0,0.0
207751,216257,QN,7099,EAS,43.312830,-1.974990,ES,LEU,42.338611,1.409167,ES,296,2015-01-16 18:55:00,2015-01-16 19:04:00,2015-01-16 20:50:00,2015-01-16 20:55:00,9,5,115,NaN,111,AT7,MFQAT,Departed,EAS-LEU,Y,68,68,16,4743,20159,NaN,NaN,NaN,NaN,NaN,NaN,4743,20159,0.235294,16,0,2,2,100,7,1,2015,16,19:04:00,1,2015,16,20:55:00,viernes,viernes,3.9,8.9,6.7,9999.0,28.4,9999.0,13.4,4.7,9999.0,0.0
185038,192692,XX,1,RAK,31.634160,-7.999940,MA,LEU,42.338611,1.409167,ES,1452,2015-01-14 10:15:00,2015-01-14 10:05:00,2015-01-14 14:40:00,2015-01-14 14:37:00,-10,-3,205,NaN,212,319,XHWAT,Departed,RAK-LEU,Y,122,104,70,101660,151037,J,1.0,15.0,3.0,4357.0,21784.0,106017,172822,0.613445,73,0,3,2,1022,64,1,2015,14,10:05:00,1,2015,14,14:37:00,miÔøΩrcoles,miÔøΩrcoles,9999.0,20.3,13.9,9999.0,0.5,1.9,14.0,7.3,9999.0,0.0
212142,221403,QN,1390,LEU,42.338611,1.409167,ES,GNB,45.362944,5.329375,FR,460,2015-02-24 20:15:00,2015-02-24 20:11:00,2015-02-24 22:35:00,2015-02-24 22:34:00,-4,-1,140,NaN,143,AT7,MFQAT,Departed,LEU-GNB,Y,68,68,20,9204,31295,NaN,NaN,NaN,NaN,NaN,NaN,9204,31295,0.294118,20,0,2,2,143,11,2,2015,24,20:11:00,2,2015,24,22:34:00,martes,martes,0.8,6.9,4.1,9999.0,13.7,9999.0,9999.0,9999.0,9999.0,9999.0

#############PRUEBAS###########################

In [ ]:
#en este punto debemos pasarle la lat y lon del vuelo

a= closest(np.asarray(lats), [45.800000, 24.150000])
aux = stationsdf[stationsdf['lat']==a[0]]
aux = stationsdf[stationsdf['lng']==a[1]]
stationid = aux['id']
s =stationid.to_string()
stationid = str(s)
stationid = stationid.split()[1]
fecha = tratarFecha('2016-07-18 21:51:00')

In [116]:
del weatherdf['Value3']
del weatherdf['Value4']
del weatherdf['Value5']
#del weatherdf['Value2']

In [182]:
weatherdf[weatherdf['date']-20150000==101]

                id      date  type  Value1
0      US1NJGL0001  20150101  PRCP       0
1      US1NJGL0001  20150101  SNOW       0
2      ASN00015643  20150101  TMAX     373
3      ASN00015643  20150101  TMIN     222
4      ASN00015643  20150101  PRCP       0
5      US1NDWL0002  20150101  PRCP       0
6      US1NDWL0002  20150101  SNOW       0
7      US1NCTR0002  20150101  PRCP       0
8      US1NCTR0002  20150101  SNOW       0
9      ASN00085296  20150101  TMAX     254
10     ASN00085296  20150101  TMIN     110
11     ASN00085296  20150101  PRCP       0
12     US1NCMC0007  20150101  PRCP       0
13     US1NCMC0007  20150101  SNOW       0
14     ASN00085280  20150101  TMAX     262
15     ASN00085280  20150101  TMIN      88
16     ASN00085280  20150101  PRCP       0
17     ASN00040209  20150101  PRCP       0
18     US1MTMH0019  20150101  PRCP       0
19     US1MTMH0019  20150101  SNOW       0
20     US1MTMH0019  20150101  SNWD     127
21     US1MTMH0019  20150101  WESD     137
22     US1MNCV0008  20150101  PRCP       0
23     US1MNCV0008  20150101  SNOW       0
24     US1MNCV0008  20150101  WESF       0
25     US1MISW0005  20150101  PRCP       0
26     US1LAEB0041  20150101  PRCP       0
27     US1LAEB0041  20150101  SNOW       0
28     ASN00009661  20150101  PRCP       0
29     US1KSSG0097  20150101  PRCP       0
...            ...       ...   ...     ...
92617  US1NYMR0020  20150101  PRCP       0
92618  US1NYMR0020  20150101  SNOW       0
92619  RQC00664867  20150101  PRCP      23
92620  US1NMSR0017  20150101  PRCP       5
92621  US1NMSN0080  20150101  PRCP       8
92622  FIE00143305  20150101  TMAX      30
92623  FIE00143305  20150101  TMIN       8
92624  US1NMSN0045  20150101  PRCP       5
92625  ASN00007129  20150101  PRCP       0
92626  EN000026214  20150101  TMAX      36
92627  EN000026214  20150101  TMIN      15
92628  EN000026214  20150101  TAVG      24
92629  US1NMDA0209  20150101  PRCP       0
92630  US1NMDA0209  20150101  SNOW       0
92631  US1NMOT0008  20150101  PRCP       0
92632  US1NMOT0008  20150101  SNOW       0
92633  CHM00059211  20150101  TMAX     221
92634  CHM00059211  20150101  TMIN      84
92635  CHM00059211  20150101  TAVG     138
92636  US1WASJ0005  20150101  PRCP       0
92637  US1WASJ0005  20150101  SNOW       0
92638  US1WASJ0005  20150101  SNWD       0
92639  US1WAKG0077  20150101  PRCP       0
92640  US1WAKG0077  20150101  SNOW       0
92641  ASN00048064  20150101  PRCP       0
92642  US1WAIS0021  20150101  PRCP       0
92643  US1WAIS0021  20150101  SNOW       0
92644  ASN00021108  20150101  PRCP       0
92645  US1TXHYS103  20150101  PRCP     130
92646  US1TXMNG020  20150101  PRCP      38

[92647 rows x 4 columns]

In [ ]:
#Now we extract the data from the climate table
datatavg = weatherdf[(weatherdf["id"]=='USW00094860')].sort_values("date")
datatavg["Value1"]=datatavg["Value1"]/10
datatavg = datatavg.reset_index()
datatavg

In [ ]:
 #primero tratamos la fecha
fecha = tratarFecha('20161023')
coor = [45.080689,3.762889]
a= closest(np.asarray(lats), coor)
aux = stationsdf[stationsdf['lat']==a[0]]
aux = stationsdf[stationsdf['lng']==a[1]]
stationid = aux['id']
s =stationid.to_string()
stationid = str(s)
stationid = stationid.split()[1]
    
datatavg = weatherdf[(weatherdf["id"]==stationid)&(weatherdf['date']==fecha)].sort_values("date")
datatavg["Value1"]=datatavg["Value1"]/10
datatavg = datatavg.reset_index()
T = datatavg[datatavg['type']=='PRCP']['Value1']
if T.empty:
    T = 0.0
    return T
else:
    return T

In [112]:
start = time.time()
closest(np.asarray(lats), [45.800000, 24.150000])
end = time.time()
print(end - start)

0.323999881744

In [ ]:
vuelos['actual_time_of_departure']

In [ ]:
var2 = '20160515'
var2[:4]

In [ ]:
x = tratarFecha('2016-05-15 11:41:00')

In [ ]:
str(x)

In [ ]:
vuelos2016.shape

In [ ]:
vuelos2016_01 = vuelos2016[vuelos2016['mesSalida']==1]
vuelos2016_02 = vuelos2016[vuelos2016['mesSalida']==2]

In [ ]:
print vuelos2016_01.shape
print vuelos2016_02.shape

In [ ]:
7*12*31

In [ ]:
def tratar(param,lat, lon, fecha):
    #primero tratamos la fecha
    fecha = tratarFecha(fecha)
    coor = [lat,lon]
    a= closest(np.asarray(lats), coor)
    aux = stationsdf[stationsdf['lat']==a[0]]
    aux = stationsdf[stationsdf['lng']==a[1]]
    stationid = aux['id']
    s =stationid.to_string()
    stationid = str(s)
    stationid = stationid.split()[1]
    datatavg = weatherdf[(weatherdf["id"]==stationid)&(weatherdf['date']==fecha)].sort_values("date")
    datatavg["Value1"]=datatavg["Value1"]/10
    datatavg = datatavg.reset_index()
    T = datatavg[datatavg['type']==param]['Value1']
    if T.empty:
        T = 9999
    return float(T)

In [ ]:
#metodo antiguo
#vuelos2014["TAVG_o"] = vuelos2014.apply(lambda vuelos2014: tratar('TAVG',vuelos2014['board_lat'],vuelos2014['board_lon'],vuelos2014['actual_time_of_departure']), axis = 1)
#vuelos2014["PRCP_o"] = vuelos2014.apply(lambda vuelos2014: tratar('PRCP',vuelos2014['board_lat'],vuelos2014['board_lon'],vuelos2014['actual_time_of_departure']), axis = 1)
#vuelos2014["SNOW_o"] = vuelos2014.apply(lambda vuelos2014: tratar('SNOW',vuelos2014['board_lat'],vuelos2014['board_lon'],vuelos2014['actual_time_of_departure']), axis = 1)
#vuelos2014["TMIN_o"] = vuelos2014.apply(lambda vuelos2014: tratar('TMIN',vuelos2014['board_lat'],vuelos2014['board_lon'],vuelos2014['actual_time_of_departure']), axis = 1)
#vuelos2014["TMAX_o"] = vuelos2014.apply(lambda vuelos2014: tratar('TMAX',vuelos2014['board_lat'],vuelos2014['board_lon'],vuelos2014['actual_time_of_departure']), axis = 1)

In [42]:
mes = 1
dia = 1
mesw = str(mes)
diaw = str(dia)
if dia < 10:
    diaw = '0'+diaw

In [45]:
diaw

'01'

In [46]:
mesw

'1'